.projects {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;

  .container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 5%;

    .text-container {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  div {
    background: transparent;

    h2,
    p {
      background: transparent;
    }

    h2 {
      color: rgb(51, 180, 167);
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.9rem;
    }
  }

  .project-buttons {
    align-self: flex-end;
    margin-top: 13%;
    display: flex;
    gap: 1.5rem;

    a {
      font-size: 0.8rem;
      background: transparent;
      text-decoration: none;
      color: black;
    }

    .github {
      border: 1px solid black;
      padding: 0.6rem 1.8rem;
      transition: 0.5s ease;

      &:hover {
        background: black;
        color: white;
      }
    }

    .demo {
      padding: 0.6rem 1.8rem;
      color: white;
      background: rgb(51, 180, 167);
      transition: 0.5s ease;

      &:hover {
        background: black;
        color: white;
      }
    }
  }

  .project-buttons2 {
    align-self: flex-start;
    margin-top: 2.5rem;
    margin-right: 3rem;
    display: flex;
    gap: 1.5rem;

    a {
      font-size: 0.8rem;
      background: transparent;
      text-decoration: none;
      color: black;
    }

    .github {
      border: 1px solid black;
      padding: 0.6rem 1.8rem;
      transition: 0.5s ease;

      &:hover {
        background: black;
        color: white;
      }
    }

    .demo {
      padding: 0.6rem 1.8rem;
      color: white;
      background: rgb(51, 180, 167);
      transition: 0.5s ease;

      &:hover {
        background: black;
      }
    }
  }
}

.project-img {
  width: 46%;
}

.project-img-todolist {
  width: 46%;
  object-fit: cover;
  max-height: 221px;
}

@media only screen and (max-width: 480px) {
  .projects {
    justify-content: center;
    gap: 3rem;
    margin-top: -3rem;

    .container {
      flex-direction: column;
      align-items: center;

      .text-container {
        width: 90%;
        .project-buttons,
        .project-buttons2 {
          align-self: center;
          margin: 1rem 0 0 0;
        }

        p {
          margin-bottom: 1rem;
          align-self: center;
        }

        h2 {
          color: rgb(27, 27, 27);
          align-self: center;
        }
      }
    }

    .project-img,
    .project-img-todolist {
      visibility: hidden;
      position: absolute;
    }
  }
}
