.skills {
  background: transparent;

  div {
    background: transparent;

    h2 {
      background: transparent;
    }

    p {
      background: transparent;
    }

    img {
      background: transparent;
      max-width: 3rem;
    }
  }
}
