.about {
  background: transparent;

  div {
    background: transparent;
    width: 95%;

    i {
      background: transparent;
      font-size: 1.5rem;
      color: rgb(51, 180, 167);
      margin-left: 0.8rem;
      margin-right: 0.4rem;
    }

    p {
      background: transparent;
      width: 100%;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .container {
    display: flex;
    gap: 0.5rem;
    margin: 2rem 0 1rem 0.5rem;
    z-index: 2;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: 100%;
    width: 90%;

    img {
      background: transparent;
      width: 60%;
      margin-left: -35%;
      margin-top: 4%;
      z-index: 1;
      min-width: 400px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .about {
    .main-container {
      .container {
        margin-top: 0.5rem;
      }

      .aboutme-pic {
        width: 100%;
        margin-left: 10%;
        margin-top: -10%;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about {
    .main-container {
      .aboutme-pic {
        width: 60%;
        margin-top: -5%;
        margin-left: 10%;
      }
    }
  }
}
