.App {
  display: flex;
  justify-content: space-around;

  .container-right {
    width: 62.5%;
    background-color: #ffffff;
    border-radius: 10px;
    height: 95vh;
    margin: 1.5% 0 0 0;
    box-shadow: -10px 10px 20px rgb(0, 0, 0, 0.5);
    overflow: hidden;
  }

  .container-left {
    width: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .buttons-container {
      display: flex;
      height: 10rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem 2.5rem;
      width: 100%;
      align-items: center;

      .button {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        align-items: center;

        p {
          font-size: 0.9rem;
          color: rgb(133, 132, 132);
          font-weight: 500;
        }

        .btn-about {
          height: 5rem;
          width: 5rem;
          border-radius: 15px;
          background-color: #d197fd;
          background-image: linear-gradient(45deg, #d197fd 0%, #c850c0 100%);
          color: white;
          font-weight: 900;
          font-size: 1.8rem;
          box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
        }

        .btn-education {
          height: 5rem;
          width: 5rem;
          border-radius: 15px;
          background-color: #fffb7d;
          background-image: linear-gradient(45deg, #fffb7d 0%, #57de90 52%);
          color: white;
          font-weight: 900;
          font-size: 1.8rem;
          box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
        }

        .btn-experience {
          height: 5rem;
          width: 5rem;
          border-radius: 15px;
          background-color: #2af598;
          background-image: linear-gradient(45deg, #2af598 0%, #08aeea 71%);
          color: white;
          font-weight: 900;
          font-size: 1.8rem;
          box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
        }

        .btn-skills {
          height: 5rem;
          width: 5rem;
          border-radius: 15px;
          background-color: #fbda61;
          background-image: linear-gradient(45deg, #fbda61 9%, #ff5acd 100%);
          color: white;
          font-weight: 900;
          font-size: 1.8rem;
          box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;

    .container-right {
      width: 95%;
      margin-bottom: 2.5%;
      height: 45rem;
    }

    .container-left {
      width: 100%;

      .profile {
        justify-content: center;
        margin-bottom: 0%;
        margin-top: 3%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .App {
    flex-direction: column;
    align-items: center;

    .container-right {
      width: 95%;
      height: 45rem;
    }

    .container-left {
      width: 100%;

      .profile {
        justify-content: center;
        margin-bottom: 0%;
        margin-top: 3%;
      }

      .buttons-container {
        gap: 1.5rem;

        .button {
          .btn-about,
          .btn-education,
          .btn-experience,
          .btn-skills {
            height: 4.5rem;
            width: 4.5rem;
          }
        }
      }
    }
  }
}
